@page
@{
    ViewBag.Title = "Whoops";
}
<h1 class="text-danger">Whoops.</h1>
<div class="alert alert-danger" role="alert">Whoops Some Kind of Error Has Occured Please Try the Operation Again Or Contact the System Administator</div>